<div class="t-hackcss-navigation">
  <h1 class="t-hackcss-navigation-heading">DC20e6</h1>
  <a href="https://dc20e6.ru"><img src="/files/dc20e6.svg" style="max-width: 50%; max-height: 50%; display: block; margin-left: auto; margin-right: auto;"></a>
  
  <h2 class="t-hackcss-navigation-heading">Меню</h2>

  <nav class="menu" role="menubar">
    {% assign url = page.url|remove:'index.html' %}
    {% for link in site.navigation %}
      <a class="menu-item {% if url == link.url %}active{% endif %}"
        role="menuitem" href="{{ link.url | prepend: site.baseurl }}" title="{{ link.title }}">
        {{ link.text }} <div class="pull-right">»</div>
      </a>
    {% endfor %}
  </nav>

</div>
